
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# env variables
*variables.sh

# Postgres
.*pgpass

# testes
ronaldo.jpg
test_json_image.json
